@import "tailwindcss";

@theme {
    --color-bg: #f5f2e4;
    --color-text-primary: #010101;
    --color-primary: #e04016;
    --color-nav: #ebe6d5;

    --font-grotesk: "Hanken Grotesk", sans-serif;
    --font-gsans: "Google Sans", sans-serif;
    --font-bungee: "Bungee", sans-serif;
}

@font-face {
    font-family: 'Google Sans';
    src: url(../assets/fonts/Google_Sans/GoogleSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../assets/fonts/Hanken_Grotesk/HankenGrotesk.ttf) format('truetype');
}

@font-face {
    font-family: 'Bungee';
    src: url(../assets/fonts/Bungee/Bungee-Regular.ttf) format('truetype');
}

*:focus {
    outline: none;
}

body {
    @apply bg-bg font-grotesk overflow-x-hidden;
}

.title {
    @apply py-24 text-center font-gsans px-48;

    h1 {
        @apply text-6xl mb-4 font-bold leading-snug;
    }
    h3 {
        @apply text-2xl font-semibold;
    }
}

.page-number {
    @apply text-text-primary text-3xl font-grotesk font-medium ;

    a {
        @apply p-4;
        @apply hover:text-primary hover:cursor-pointer hover:font-semibold;
    }
}

.ql-editor::before,
.ql-editor p {
    @apply text-[1rem];
}

.ql-toolbar.ql-snow {
    margin-top: 0.5rem !important;
}
