@import "tailwindcss";

@theme {
    --color-bg: #f5f2e4;
    --color-text-primary: #010101;
    --color-primary: #e04016;
    --color-nav: #ebe6d5;

    --font-grotesk: "Hanken Grotesk", sans-serif;
    --font-gsans: "Google Sans", sans-serif;
    --font-bungee: "Bungee", sans-serif;
}

@font-face {
    font-family: 'Google Sans';
    src: url(../assets/fonts/Google_Sans/GoogleSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../assets/fonts/Hanken_Grotesk/HankenGrotesk.ttf) format('truetype');
}

@font-face {
    font-family: 'Bungee';
    src: url(../assets/fonts/Bungee/Bungee-Regular.ttf) format('truetype');
}

body {
    @apply bg-bg font-grotesk overflow-x-hidden;

}

.page-number {
    @apply text-text-primary text-3xl font-grotesk font-medium ;

    a {
        @apply p-4;
        @apply hover:text-primary hover:cursor-pointer hover:font-semibold;
    }
}
